<h1>Categories</h1>
<% if (form) { %>
    <%- include("partials/newForms/newCategoryForm.ejs") %>
        <% } %>
<% if (update) { %>
    <%- include("partials/updateForms/updateCategory.ejs") %>
        <% } %>
<%- include("partials/displayExisting/displayCategories.ejs") %>
<a href="/categories/new">new</a>