<ul>
    <% for (let category of categories){ %>
        <li>
            Category: <%= category.category_name%>
                <br>
                Associated Products: <%= category.associated_products%>
                <br>
                <a href="/categories/<%= category.category_id %>/update">Update</a>
        
                <a href="/categories/<%= category.category_id %>/delete">Delete</a>

        </li>
        <%}%>
</ul>
